{% extends "layout.njk" %}
{% block content %}
<section>
    <div class="content container">
        <div class="hero">
            <img src="/img/mountain2.jpg" alt="">
            <div class="filter"></div>
            <h1>{{message}}</h1>
        </div>
        <h2>{{subtitle}}</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut qui neque voluptatem distinctio repellat eos totam suscipit corporis dolores quasi, rerum assumenda, possimus nihil maxime accusamus nam dolorum cum dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus unde dolorum sunt dolorem provident similique culpa cum at ducimus ab, veniam quae. Vitae corrupti facere molestias explicabo facilis quos fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quidem molestiae magnam dolore dolores ipsam, iste quo. Sapiente libero nesciunt quae, labore facere enim provident accusantium blanditiis dolore sunt odio! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam veritatis facilis exercitationem ullam, quo soluta magnam maxime sit, mollitia officiis ipsum provident temporibus molestias! Ipsum dolore odit delectus quibusdam soluta.</p>
    </div>
</section>
{% endblock %}